<section>
    <div class="page-header" style="margin-top: 4em">
        <h4 class="list-group-item-heading">
            <h3><span ng-bind="vm.child.firstName"></span>
            <span ng-bind="vm.child.lastName"></span>
            <span ng-bind="vm.child.birthDate | date:'mediumDate'"></span></h3>
            {{'SCREENED_ON' | translate}}
            <span ng-bind="vm.survey.surveyDate | date:'mediumDate'"></span>
            {{'BY' | translate}}
            <span ng-bind="vm.child.interviewer"></span>
        </h4>
        <h2>{{vm.survey._id ? vm.editMsg : vm.newScreen }}</h2>
        <h3>
            <span><a ui-sref="children.view({childId: vm.child._id})">{{'CANCEL' | translate}}</a></span>
        </h3>
    </div>
    <div ng-if="vm.invalidFields" >
        <h2 style="margin-top: 1em">
            <span ng-class="validateError"><a class="validateError">
               {{'INVALID_FIELDS' | translate}} </a></span>
        </h2>
    </div>
    <h3 >
        <span ><a id="createScreening" ng-click="vm.addSurvey()"> {{'UPDATE' | translate}}
            <i class="glyphicon glyphicon-export"></i></a>
        </span>
    </h3>
    <div class="col-md-12 CreateChildFormContainer">
        <form name="vm.form.surveyForm" class="form-horizontal">
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div ng-class="{'has-error':(vm.childWeightIsValid === false)}">
                            <label for="vm.survey.weight" class="col-sm-2 control-label">{{'WEIGHT' | translate}}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"  ng-blur="vm.checkWeightIsValid()"
                                       ng-model="vm.survey.weight" id="vm.survey.weight"
                                       placeholder="{{'WEIGHT' | translate}}" required>
                                <div class="validationMessage" ng-if="vm.childWeightIsValid === false">
                                    <p>{{vm.survey.monthAge > 24 ? 'PLEASE_ENTER_VALID_HEIGHT_GT_24' : 'PLEASE_ENTER_VALID_HEIGHT_LT_24'| translate}}
                                    </p></div>
                            </div>
                        </div>

                        <div ng-class="{'has-error':(vm.childHeightIsValid === false)}">
                            <label for="vm.survey.height" class="col-sm-2 control-label">{{'HEIGHT' | translate}}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-blur="vm.checkHeightIsValid()"
                                       ng-model="vm.survey.height" id="vm.survey.height"
                                       placeholder="{{'HEIGHT' | translate}}" required>
                                <div class="validationMessage" ng-if="vm.childHeightIsValid === false">
                                    <p>{{vm.survey.monthAge > 24 ? 'PLEASE_ENTER_VALID_HEIGHT_GT_24' : 'PLEASE_ENTER_VALID_HEIGHT_LT_24'| translate}}
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vm.survey.comments" class="col-sm-2 control-label">{{'COMMENTS' | translate}}</label>
                        <div class="col-sm-4">
                                <textarea class="form-control" ng-model="vm.survey.comments" id="vm.survey.comments"
                                          placeholder="{{'COMMENTS' | translate}}"></textarea>
                        </div>
                        <label for="vm.surveyDate" class="col-sm-2 control-label">{{'SCREENING_DATE' | translate}}</label>
                        <div class="col-sm-4">
                            <input type="date" id="vm.surveyDate" class="form-control"
                                   uib-datepicker-popup
                                   ng-blur="vm.calculateAge()"
                                   ng-model="vm.surveyDate"
                                   is-open="status.opened" required>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <h5 ng-if="vm.survey._id">
        <span><a ui-sref="children.removeSurvey({ surveyId:vm.survey._id, childId:vm.child._id})">{{'REMOVE_SCREENING' | translate}} <i
                class="glyphicon glyphicon-trash"></i></a></span>
    </h5>
</section>
