<section>
    <div class="page-header" style="margin-top: 8em">
        <img src="modules/core/client/img/brand/logo_small.png">
        <h1>
            <div ng-if="vm.onLine">
                  <span><a ng-click="vm.refreshCountryList()">{{'SELECT_COUNTRY' | translate}} <i
                          class="glyphicon glyphicon-refresh"></i></a></span>
            </div>
            <div ng-if="!vm.onLine">
                {{'SELECT_COUNTRY' | translate}}
            </div>
        </h1>
    </div>
    <div class="list-group">
        <a ng-repeat="country in vm.liahonaStakes.countries" ui-sref="children.stake({country: country.name})" class="list-group-item">
            <small class="list-group-item-text">
                <h3>
                    <img ng-src={{country.image}}>
                    <span ng-bind="country.name"></span>
                </h3>
            </small>
        </a>
    </div>
    <h4>
        {{'DESCRIBE_CHROME' | translate}}
        <!--<br>  Designed for offline use with Chrome-->
        <!--<br>  You must enable offline pages in Chrome-->
        <!--<br>  Open your brower at chrome://flags/#offline-pages-mode-->
        <!--<br>  And ensure this option is enabled-->
    </h4>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
</section>
