<!--<section data-ng-controller="ChildrenController">-->
  <!--<div class="container-fluid input-lg CreateChildContainer">-->
    <!--<div class="CreateChildFormContainer">-->
      <!--<div class="page-header">-->
        <!--<h1>New Child Screening</h1>-->

      <!--</div>-->

      <!--<form name="vm.form.childForm" class="form-horizontal container-fluid" ng-submit="vm.create(childForm.$valid)"-->
            <!--novalidate>-->
        <!--<fieldset>-->
          <!--<div class="row">-->
            <!--<div class="form-group float-left">-->
              <!--<div ng-class="{'has-error':(!vm.firstNameIsValid)}">-->

                <!--<label for="vm.firstName" class="col-sm-2 control-label">First Name</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input class="form-control" type="text" ng-change="vm.checkFirstNameIsValid()"-->
                         <!--ng-model="vm.firstName" id="vm.firstName" placeholder="First Name"-->
                         <!--required>-->
                  <!--<div class="validationMessage" ng-if="!vm.firstNameIsValid"><p>Please enter a valid-->
                    <!--name</p></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!vm.lastNameIsValid)}">-->
                <!--<label for="vm.lastName" class="col-sm-2 control-label">Last Name</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkLastNameIsValid()"-->
                         <!--ng-model="vm.lastName"-->
                         <!--id="vm.lastName"-->
                         <!--placeholder="Last Name"-->
                         <!--required>-->
                  <!--<div class="validationMessage" ng-if="!vm.lastNameIsValid"><p>Please enter a valid-->
                    <!--name</p></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<div class="col-sm-12">-->
                <!--<div ng-class="{'has-error':(!monthAgeIsValid)}">-->
                  <!--<label for="vm.birthMonthsIn" class="col-sm-3 control-label">Age in Months</label>-->
                  <!--<div class="col-sm-2">-->
                    <!--<input type="input" class="form-control" ng-blur="vm.checkMonthAgeIsValid()"-->
                           <!--ng-model="vm.birthMonthsIn" id="vm.birthMonthsIn"-->
                           <!--placeholder="Months" required>-->
                    <!--<div class="validationMessage" ng-if="!vm.monthAgeIsValid"><p>Please enter a valid age (1-60)-->
                    <!--</p></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!vm.genderIsValid)}">-->
                <!--<label for="vm.gender" class="col-sm-3 control-label">Gender</label>-->
                <!--<div class="col-sm-3">-->
                  <!--<div>-->
                    <!--<select type="input" ng-blur="vm.checkGenderIsValid()" class="form-control"-->
                            <!--ng-model="vm.gender"-->
                            <!--id="vm.gender"-->
                            <!--required>-->
                      <!--<option>Girl</option>-->
                      <!--<option>Boy</option>-->
                    <!--</select>-->
                    <!--<div class="validationMessage" ng-if="!vm.genderIsValid"><p>Please select a-->
                      <!--gender</p></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<label for="vm.birthDate" class="col-sm-3 control-label">Birthdate</label>-->
              <!--<div class="col-sm-3">-->
                <!--<input type="date" id="vm.birthDate" ng-blur="vm.setMonthCount()" class="form-control"-->
                       <!--uib-datepicker-popup-->
                       <!--ng-model="vm.birthDate" ng-model-options="{debounce: 2500}"-->
                       <!--is-open="status.opened" required>-->
                <!--&lt;!&ndash;<div class="validationMessage" ng-if="!birthdateIsValid"><p>Please select a valid birthdate</p></div>&ndash;&gt;-->
              <!--</div>-->

            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<div ng-class="{'has-error':(!heightIsValid)}">-->
                <!--<label for="vm.height" class="col-sm-2 control-label">Height</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-blur="vm.checkHeightIsValid()"-->
                         <!--ng-model="vm.height" id="vm.height"-->
                         <!--placeholder="Height" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.heightIsValid"><p>Please enter a valid height (45-110)-->
                  <!--</p></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!weightIsValid)}">-->
                <!--<label for="vm.weight" class="col-sm-2 control-label">Weight</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-blur="vm.checkWeightIsValid()"-->
                         <!--ng-model="vm.weight" id="vm.weight"-->
                         <!--placeholder="Weight" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.weightIsValid"><p>Please enter a valid-->
                    <!--weight (3-18)</p></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<div ng-class="{'has-error':(!vm.motherIsValid)}">-->
                <!--<label for="vm.mother" class="col-sm-2 control-label">Mother</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkMotherIsValid()"-->
                         <!--ng-model="vm.mother" id="vm.mother"-->
                         <!--placeholder="Mother" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.motherIsValid"><p>Please enter a valid-->
                    <!--name</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!vm.fatherIsValid)}">-->
                <!--<label for="vm.father" class="col-sm-2 control-label">Father</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkFatherIsValid()"-->
                         <!--ng-model="vm.father" id="vm.father"-->
                         <!--placeholder="Father" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.fatherIsValid"><p>Please enter a valid-->
                    <!--name</p></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<div ng-class="{'has-error':(!vm.streetAddressIsValid)}">-->
                <!--<label for="vm.streetAddress" class="col-sm-2 control-label">Street Address</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkStreetAddressIsValid()"-->
                         <!--ng-model="vm.streetAddress" id="vm.streetAddress"-->
                         <!--placeholder="Street Address" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.streetAddressIsValid"><p>Please enter a valid-->
                    <!--name</p></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!vm.cityIsValid)}">-->
                <!--<label for="vm.city" class="col-sm-2 control-label">City</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkCityIsValid()"-->
                         <!--ng-model="vm.city" id="vm.city"-->
                         <!--placeholder="City" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.cityIsValid"><p>Please enter a valid-->
                    <!--city</p></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<div ng-class="{'has-error':(!vm.stakeIsValid)}">-->
                <!--<label for="vm.stake" class="col-sm-2 control-label">Stake</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkStakeIsValid()"-->
                         <!--ng-model="vm.stake" id="vm.stake"-->
                         <!--placeholder="Stake" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.stakeIsValid"><p>Please enter a valid-->
                    <!--stake</p></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div ng-class="{'has-error':(!vm.wardIsValid)}">-->
                <!--<label for="vm.ward" class="col-sm-2 control-label">Ward</label>-->
                <!--<div class="col-sm-4">-->
                  <!--<input type="input" class="form-control" ng-change="vm.checkWardIsValid()"-->
                         <!--ng-model="vm.ward" id="vm.ward"-->
                         <!--placeholder="Ward" required>-->
                  <!--<div class="validationMessage" ng-if="!vm.wardIsValid"><p>Please enter a valid-->
                    <!--ward</p></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="vm.comments" class="col-sm-2 control-label">Comments</label>-->
              <!--<div class="col-sm-4">-->
                                <!--<textarea class="form-control" ng-model="vm.comments" id="vm.comments"-->
                                          <!--placeholder="Comments"></textarea>-->
              <!--</div>-->
              <!--<label for="vm.comments" class="col-sm-2 control-label"></label>-->
              <!--<div class="col-sm-4" style="text-align: center">-->
                <!--<div style="margin-top:4%;">-->
                  <!--<button type="submit" ng-click="vm.checkAllFieldsValid()" class="btn btn-default">-->
                    <!--Submit-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<video id="video" width="640" height="480" autoplay></video>&ndash;&gt;-->
            <!--&lt;!&ndash;<button id="snap">Snap Photo</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<canvas id="canvas" width="640" height="480"></canvas>&ndash;&gt;-->
          <!--</div>-->
        <!--</fieldset>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

