<section>
    <div class="page-header" style="margin-top: 6em">

        <!--<div class='btn-toolbar pull-right'>-->
            <!--<div class="btn-group" ng-if="vm.child._id">-->
                <!--<a class="btn btn-primary" ui-sref="children.view({childId: vm.child._id})"-->
                <!--&gt;Cancel</a>-->
            <!--</div>-->
            <!--<div class="btn-group" ng-if="!vm.child._id">-->
                <!--<a class="btn btn-primary"-->
                   <!--ui-sref="children.list({stakeDB: vm.selectedDB, stakeName: vm.selectedStake})">Cancel</a>-->
            <!--</div>-->
        <!--</div>-->
        <h3 style="margin-top: 2em">{{vm.child._id ? 'Edit Existing Child' : 'Add New Child'}}</h3>
        <h3>
            <span><a ui-sref="children.list({stakeDB: vm.selectedDB, stakeName: vm.selectedStake})">Cancel</a></span>
        </h3>
    </div>
    <h3 style="margin-top: 1em" ng-if="vm.form.childForm.$valid">
        <span><a ng-click="vm.create(vm.form.childForm.$valid)">
            {{vm.child._id ? 'Update ' : 'Create '}}Child Record <i class="glyphicon glyphicon-export"></i></a></span>
    </h3>
    <div class="col-md-12">
        <form name="vm.form.childForm" class="form-horizontal" ng-submit="vm.create(vm.form.childForm.$valid)"
              novalidate>
            <fieldset>
                <div class="CreateChildFormContainer">
                    <div class="form-group float-left">
                        <div ng-class="{'has-error':(!vm.firstNameIsValid)}">
                            <label for="vm.child.firstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-4">
                                <input class="form-control required" type="text" ng-blur="vm.checkFirstNameIsValid()"
                                       ng-model="vm.child.firstName" id="vm.child.firstName" placeholder="First Name"
                                       required>
                                <div class="validationMessage" ng-if="!vm.firstNameIsValid"><p>Required
                                    </p></div>
                            </div>
                        </div>
                        <div ng-class="{'has-error':(!vm.lastNameIsValid)}">
                            <label for="vm.child.lastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-4">
                                <input type="input" class="form-control required" ng-blur="vm.checkLastNameIsValid()"
                                       ng-model="vm.child.lastName"
                                       id="vm.child.lastName"
                                       placeholder="Last Name"
                                       required>
                                <div class="validationMessage" ng-if="!vm.lastNameIsValid"><p>Required
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-left">
                        <div ng-class="{'has-error':(!vm.ageIsValid)}">
                            <label for="vm.child.monthAge" class="col-sm-2 control-label">Age in Months</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" ng-blur="vm.checkEnteredAgeIsValid()"
                                       ng-model="vm.child.monthAge" id="vm.child.monthAge" required>
                                <div class="validationMessage" ng-if="!vm.ageIsValid"><p>Age (months) or birthdate required (1-60)
                                </p></div>
                            </div>
                        </div>
                        <div ng-class="{'has-error':(!vm.ageIsValid)}">
                            <label for="vm.child.birthDate" class="col-sm-2 control-label">Birthdate</label>
                            <div class="col-sm-4">
                                <input type="date" id="vm.child.birthDate" ng-blur="vm.checkAgeIsValid()" class="form-control"
                                       ng-model="vm.child.birthDate"
                                       is-open="status.opened" required>
                                <div class="validationMessage" ng-if="!vm.ageIsValid"><p>Age (months) or birthdate required
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-left">
                        <div >
                            <label for="vm.child.phoneNum" class="col-sm-2 control-label">Telephone Number</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="tel"
                                       ng-model="vm.child.phoneNum" id="vm.child.phoneNum" >
                                <div></div>
                            </div>
                        </div>
                        <div ng-class="{'has-error':(!vm.genderIsValid)}">
                            <label for="vm.child.gender" class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-4">
                                <select type="input" ng-change="vm.checkGenderIsValid()" class="form-control"
                                        ng-model="vm.child.gender"
                                        id="vm.child.gender"
                                        required>
                                    <option>Girl</option>
                                    <option>Boy</option>
                                </select>
                                <div class="validationMessage" ng-if="!vm.genderIsValid"><p>Gender required
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vm.child.mother" class="col-sm-2 control-label">Mother</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control"
                                   ng-model="vm.child.mother" id="vm.child.mother"
                                   placeholder="Mother">
                        </div>
                        <label for="vm.child.father" class="col-sm-2 control-label">Father</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control"
                                   ng-model="vm.child.father" id="vm.child.father"
                                   placeholder="Father">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vm.child.address" class="col-sm-2 control-label">Street Address</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control"
                                   ng-model="vm.child.address" id="vm.child.address"
                                   placeholder="Street Address">
                        </div>
                        <label for="vm.child.city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control"
                                   ng-model="vm.child.city" id="vm.child.city"
                                   placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<div ng-class="{'has-error':(!vm.stakeIsValid)}">-->
                            <label for="vm.child.stake" class="col-sm-2 control-label">Stake</label>
                            <div class="col-sm-4">
                                <input type="input" class="form-control" ng-blur="vm.checkStakeIsValid()"
                                       ng-model="vm.child.stake" id="vm.child.stake"
                                       placeholder={{vm.selectedStake}}>
                                <!--<div class="validationMessage" ng-if="!vm.stakeIsValid"><p>Please enter a valid-->
                                    <!--stake</p></div>-->
                            </div>
                        <!--</div>-->
                        <label for="vm.child.ward" class="col-sm-2 control-label">Ward</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control"
                                   ng-model="vm.child.ward" id="vm.child.ward"
                                   placeholder="Ward">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vm.child.comments" class="col-sm-2 control-label">Comments</label>
                        <div class="col-sm-4">
                                <textarea class="form-control" ng-model="vm.child.comments" id="vm.child.comments"
                                          placeholder="Comments"></textarea>
                        </div>
                        <div >
                            <label for="vm.memberStatus" class="col-sm-2 control-label">LDS member?</label>
                            <div class="col-sm-4">
                                <input type="checkbox" id="vm.memberStatus"  class="form-control"
                                       value="yes"
                                        required>

                            </div>
                        </div>

                    </div>
                  <div class="form-group">
                    <div ng-class="{'has-error':(!vm.genderIsValid)}">

                      <!--<div class="col-sm-4 right-side-child">-->
                        <!--<div style="margin-top:4%;">-->
                          <!--<button type="submit" class="btn btn-primary">{{vm.child._id ? 'Update' : 'Create'}}-->
                          <!--</button>-->
                        <!--</div>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
            </fieldset>
        </form>

    </div>
    <h3 style="margin-top: 1em" ng-if="vm.form.childForm.$valid">
        <span><a ng-click="vm.create(vm.form.childForm.$valid)">
            {{vm.child._id ? 'Update ' : 'Create '}}Child Record <i class="glyphicon glyphicon-export"></i></a></span>
    </h3>
    <!--<div class="panel-footer">-->
        <!--<div class="pull-right">-->
            <!--<button type="submit" class="btn btn-primary" ng-click="vm.create(vm.form.childForm.$valid)">{{vm.child._id ? 'Update' : 'Create'}}-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
</section>