<section>
    <div class="page-header" style="margin-top: 4em">
        <div class="row">
            <div class="col-md-4" class="pull-left">
                <!--<img src={{vm.selectedCountryImage}}>-->
                <h4>
                    <span><a ui-sref="children.stake({country: vm.selectedCountry})">{{vm.selectedCountry}} <i
                            class="glyphicon glyphicon-list"></i>  {{vm.selectedStake}}</a></span>

                </h4>
                <h4>
                    <div ng-if="vm.onLine">
                        <a ui-sref="children.sync({stakeDB: vm.selectedStakeDB, stakeName:vm.selectedStake})">{{'SYNC_OR_REPORT' | translate }}
                            <!--<i class="glyphicon glyphicon-refresh"></i>-->
                        </a>
                        <h5>
                            <div ng-if="vm.repUpStats.ok">
                                Sync up: OK read:{{vm.repUpStats.docs_read}} written:{{vm.repupStats.docs_written}}
                            </div>
                            <div ng-if="vm.repUpStats.ok && !vm.repUpStats.ok">
                                Sync up: not OK read:{{vm.repUpStats.docs_read}} written:{{vm.repupStats.docs_written}}
                            </div>
                            <div ng-if="vm.repError">
                                Sync Error: {{vm.repError}}
                            </div>
                        </h5>
                    </div>
                    <div ng-if="!vm.onLine">
                        {{vm.selectedStake}}
                    </div>
                </h4>
                <h4 ng-if="vm.wardList">
                    {{'SELECT_WARD' | translate}}
                    <!--<div data-ng-if="vm.selectedWard">-->
                    <!--<a ui-sref="children.wards({stake:vm.selectedStake})">{{vm.selectedWard}} Ward <i class="glyphicon glyphicon-list"></i></a>-->
                    <!--</div>-->
                    <!--<div data-ng-if="!vm.selectedWard">-->
                    <select  ng-change="vm.selectWard()" class="form-control"
                             ng-model="vm.selectedWard"
                             id="selectedWard"
                             ng-options="ward.wardName for ward in vm.wardList"
                             required>
                        <option value="">{{'ALL_WARDS' | translate }}</option>
                    </select>

                    <!--</div>-->
                </h4>
                <h3 >
                   <a id="addChild" ui-sref="children.create({ward:vm.selectedWard.wardName})">{{'ADD_NEW_CHILD' | translate}} <i class="glyphicon glyphicon-plus"></i></a>
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="vm.selectedCountryObject">
            <h3>
                <label for="selectedStake">{{'STAKE' | translate}} <i class="glyphicon glyphicon-refresh"></i></label><br>
                <select class="col-md-4  input-lg" name="selectedStake" id="selectedStake"
                        ng-model="vm.selectedCountryObject" ng-change="vm.changeStake()">
                    <option ng-repeat="stake in vm.selectedCountryObject" value="{{stake.stakeName}}">
                        {{stake.stakeName}}
                    </option>
                </select><br>
            </h3>
        </div>
    </div>
    <div class="list-group">
        <a ng-repeat="child in vm.childList.docs" ui-sref="children.view({childId: child._id})" class="list-group-item">
            <small class="list-group-item-text">
                <h3><span ng-bind="child.firstName"></span>
                    <span ng-bind="child.lastName"></span></h3>
                <h4 ng-if="child.statusColor">
                    {{'ZSCORE_STATUS' | translate}}:
                    <span ng-class="child.statusColor" ng-if="child.zscoreStatus === 'Acute: supplements required'">
                          {{'ACUTE_ZSCORE' | translate}} </span>
                    <span ng-class="child.statusColor" ng-if="child.zscoreStatus === 'Micro nutrients required'">
                          {{'MICRO_NUTRITION_ZSCORE' | translate}} </span>
                    <span ng-class="child.statusColor" ng-if="child.zscoreStatus === 'At Risk: Come to next screening'">
                          {{'AT_RISK_ZSCORE' | translate}} </span>
                    <span ng-class="child.statusColor" ng-if="child.zscoreStatus === 'Normal'">
                          {{'NORMAL_ZSCORE' | translate}} </span>
                </h4>
                 {{child.gender === 'Boy' ? ('TXT_MALE' | translate) : ('TXT_FEMALE' | translate)}}, {{'BORN' | translate}}
                <span ng-bind="child.birthDate | date:'mediumDate'"></span>
                <!--{{'SCREENING_DATE' | translate}}:-->
                <!--<span ng-bind="child.surveyDate | date:'mediumDate'"></span>-->
                <!--{{'BY' | translate}}-->
                <!--<span ng-bind="child.interviewer"></span>-->
            </small>
        </a>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
    <h4>
        <div ng-if="vm.onLine && !vm.childList.docs.length" class="alert alert-warning text-center">
            {{'NO_CHILDREN_LISTED' | translate}} <a ui-sref="children.sync({stakeDB: vm.selectedStakeDB, stakeName:vm.selectedStake})">{{'SYNC' | translate}}
            <i class="glyphicon glyphicon-refresh"></i></a> or <a ui-sref="children.create({ward:'none'})">{{'ADD_NEW_CHILD' | translate}} <i
                class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div ng-if="!vm.onLine && !vm.childList.docs.length" class="alert alert-warning text-center">
           {{'NO_CHILDREN_LISTED' | translate}} <a ui-sref="children.create({ward:'none'})">{{'ADD_NEW_CHILD' | translate}} <i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </h4>
</section>
