<section>
    <div class='btn-toolbar pull-right'>
        <div class="btn-group">
            <a class="btn btn-primary" >Cancel</a>
        </div>
    </div>
    <div class="page-header" >
        <h1>Select Country</h1>
    </div>

    <label for="vm.selectedCountry" class="col-sm-2 control-label">Country</label>
    <div class="col-sm-4">
        <select type="input"  class="form-control"
                ng-model="vm.selectedCountry"
                id="vm.selectedCountry"
                required>
            <option>Ecuador</option>
            <option>Just for test</option>
        </select>
        <div class="validationMessage" ng-if="!vm.countryIsValid"><p>Please select a
            country</p></div>
    </div>
    <div class="col-sm-4" style="text-align: center">
        <div style="margin-top:4%;">
            <!--<div class='btn-toolbar pull-right'>-->
            <!--<div class="btn-group">-->
            <!--<a type="submit" class="btn btn-primary">{{vm.child._id ? 'Update' : 'Create'}}</a>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary">OK
            </button>
            <!--</div>-->
        </div>
    </div>
</section>
