<section>
    <div class="page-header" style="margin-top: 4em">
        <img src={{vm.selectedCountryImage}}>
        <h3>
            <span><a ui-sref="children.list({stakeDB: vm.selectedDB, stakeName:vm.selectedStake, searchFilter: '', colorFilter: '', screenType: 'children})">{{'CANCEL' | translate}}</a></span>
        </h3>
    </div>
    <div class="list-group borderless">
        <a ng-click="vm.removeChild(vm.child)" class="list-group-item borderless">
            <small class="list-group-item-text">
                <div class="alert alert-danger" role="alert" style="text-align: center">
                    <h3>
                        <span >{{'REMOVE' | translate}} {{vm.child.firstName}} {{vm.child.lastName}} {{'AND_RELATED_RECORDS' | translate}} </span>
                        <i class="glyphicon glyphicon-trash"></i>
                    </h3>
                </div>
            </small>
        </a>
    </div>
    <h3>{{'REMOVE_CHILD_MSG' | translate}}</h3>
</section>