<section>
    <div class="page-header" style="margin-top: 8em">
        <img src={{vm.selectedCountry.image}}>
        <!--<h1>{{'SELECT_STAKE' | translate}}</h1>-->
        <h1>
            <div ng-if="vm.onLine">
                  <span><a ng-click="vm.refreshCountryList()">{{'SELECT_STAKE' | translate}} <i
                          class="glyphicon glyphicon-refresh"></i></a></span>
            </div>
            <div ng-if="!vm.onLine">
                {{'SELECT_STAKE' | translate}}
            </div>
        </h1>
    </div>
    <div class="list-group">
        <a ng-repeat="stake in vm.selectedCountry.stakes"
           ui-sref="children.list({stakeDB: stake.stakeDB, stakeName: stake.stakeName})" class="list-group-item">
            <small class="list-group-item-text">
                <h3>
                    <span ng-bind="stake.stakeName"></span>
                </h3>
            </small>
        </a>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
</section>
