<section>
    <div class="page-header" style="margin-top: 4em">

<img src={{vm.selectedCountryImage}}>
            <!--<a ui-sref="children.list({stakeDB: vm.stakeDB, stakeName:vm.selectedStake})"></a>-->

        <h3>
            <span><a ui-sref="children.list({stakeDB: vm.stakeDB, stakeName:vm.selectedStake})">{{'CANCEL' | translate}}</a></span>
        </h3>
    </div>
    <div class="list-group borderless">
        <a ng-click="vm.syncUpstream()" class="list-group-item borderless">
            <small class="list-group-item-text">
                <div class="alert alert-info" role="alert" style="text-align: center">
                <h3>
                    <span >{{'SYNC' | translate}} {{vm.selectedStake}}</span>
                    <i class="glyphicon glyphicon-refresh"></i>
                </h3>
                </div>
            </small>
        </a>
    </div>
    <form class="signin form-horizontal">
        <fieldset>

            <div class="text-center form-group" ng-hide="vm.uploader.queue.length">
          <span class="btn btn-default btn-file"><h4          >
              Upload Excel file, add to database <input type="file" nv-file-select uploader="vm.uploader"></h4>
          </span>
            </div>
            <div class="text-center form-group" ng-show="vm.uploader.queue.length">
                <span><h2>{{vm.fileToUpload}}</h2></span>
                <button class="btn btn-primary" ng-click="vm.uploadExcelCsv();">Upload</button>
                <button class="btn btn-default" ng-click="vm.cancelUpload();">Cancel</button>
            </div>
            <div ng-show="vm.complete" class="text-center text-success">
                <strong>{{cm.fileToUpload}} added to database successfully</strong>
            </div>
            <div ng-show="vm.error" class="text-center text-danger">
                <strong ng-bind="vm.error"></strong>
            </div>
        </fieldset>
    </form>
    <div >
        <a ng-click="vm.deleteLocalDB(vm.stakeDB)">
            <h3><span >Delete local DB {{vm.stakeDB}}</span>
            <i class="glyphicon glyphicon-trash"></i>
            </h3>
        </a>
    </div>
    <h3>
        <div ng-if="vm.reportReady">
            <a target="_self" ng-href={{vm.reportToDownload}} download={{vm.reportName}}>{{'DOWNLOAD_MSG' |
                translate:vm.reportFileName}} </a>
            <i class="glyphicon glyphicon-download-alt"></i>
        </div>
    </h3>
    <h3>
        <div ng-if="!vm.reportReady">
            <select id="filtersSelect" ng-model="vm.filterSelect">
                <option value="">---Select csv filter---</option>
                <option value="all">All Children</option>
                <option value="zscore">Zscores < -2</option>
            </select><br>
            <select id="sortSelect" ng-model="vm.sortSelect">
                <option value="">---Select sort field---</option>
                <option value="ward">Ward</option>
                <option value="ha">zscores ha</option>
                <option value="wa">zscores wa</option>
                <option value="wl">zscores wh</option>
                <option value="screenId">screening date</option>
                <option value="zscore">zscores ha</option>
                <option value="firstName">first name</option>
                <option value="lastName">last name</option>
                <option value="memberStatus">LDS member</option>
                <option value="mother">mother</option>
                <option value="father">father</option>
            </select><br>
            <a ng-click="vm.createReport(vm.filterSelect, vm.sortSelect)">
                <span>{{'GENERATE_REPORT' | translate}} </span>
                <i class="glyphicon glyphicon-share"></i>
            </a>
        </div>
    </h3>
    <h5>{{'SYNC_MESSAGE' | translate}}</h5>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
</section>