<section>
    <div class="page-header" style="margin-top: 4em">
        <img src={{vm.selectedCountryImage}}>
        <!--<h3>{{vm.selectedCountry}}</h3>-->
        <!--<h3>{{vm.selectedStake}}</h3>-->
        <!--<h4>-->
            <!--<span><a ui-sref="children.stake({country: vm.selectedCountry})">{{vm.selectedCountry}}</a></span>-->
            <!--<i class="glyphicon glyphicon-list"></i>-->
        <!--</h4>-->
        <!--<h4>-->
            <!--<span><a ui-sref="children.list({stakeDB: vm.stakedDB, stakeName:vm.selectedStake})">{{vm.selectedStake}}</a></span>-->
            <!--<i class="glyphicon glyphicon-list"></i>-->
        <!--</h4>-->

        <h3>
            <span><a ui-sref="children.list({stakeDB: vm.stakeDB, stakeName:vm.selectedStake})">{{'CANCEL' | translate}}</a></span>
        </h3>

    </div>
    <div class="list-group borderless">
        <a ng-click="vm.syncUpstream()" class="list-group-item borderless">
            <small class="list-group-item-text">
                <div class="alert alert-info" role="alert" style="text-align: center">
                <h3>
                    <span >{{'SYNC' | translate}} {{vm.selectedStake}}</span>
                    <i class="glyphicon glyphicon-refresh"></i>
                </h3>
                </div>
            </small>
        </a>
    </div>
    <h5>{{'SYNC_MESSAGE' | translate}}</h5>
    <!--<div class="col-sm-4" style="text-align: center">-->
        <!--<div style="margin-top:4%;">-->
            <!--<button type="submit" class="btn btn-primary" ng-click="vm.syncUpstream()">Sync Database-->
                <!--<i class="glyphicon glyphicon-refresh"></i>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
</section>