<section>
    <div class="page-header" style="margin-top: 4em">
        <h3><img src={{vm.selectedCountryImage}}>
        <span ng-bind="vm.selectedCountry"></span></h3>
        <h3>
            <span><a ng-click="vm.goBack()">{{'CANCEL' | translate}}</a></span>
        </h3>
    </div>
    <div class="list-group borderless">
        <a ng-click="vm.syncUpstream()" class="list-group-item borderless">
            <small class="list-group-item-text">
                <div class="alert alert-info" role="alert" style="text-align: center">
                <h3>
                    <span >{{'SYNC' | translate}} {{vm.selectedStake}}</span>
                    <i class="glyphicon glyphicon-refresh"></i>
                </h3>
                </div>
            </small>
        </a>
    </div>
    <form class="signin form-horizontal" ng-show="vm.userIsAdmin">
        <fieldset>
            <div class="text-center form-group" ng-hide="vm.uploader.queue.length">
          <span class="btn btn-default btn-file">
              <h4>Upload Excel file, populate database <input type="file" nv-file-select uploader="vm.uploader"></h4>
          </span>

            </div>
            <div class="text-center form-group" ng-show="vm.uploader.queue.length">
                <span><h2>{{vm.fileToUpload}}</h2></span>
                <button class="btn btn-primary" ng-click="vm.uploadExcelCsv();">Upload</button>
                <button class="btn btn-default" ng-click="vm.cancelUpload();">Cancel</button>
            </div>
            <div ng-show="vm.complete" class="text-center text-success">
                <strong>{{cm.fileToUpload}} added to database successfully</strong>
            </div>
            <div ng-show="vm.error" class="text-center text-danger">
                <strong ng-bind="vm.error"></strong>
            </div>
        </fieldset>
    </form>
    <div ng-show="vm.userIsAdmin">
        <a ng-click="vm.deleteLocalDB(vm.stakeDB)">
            <h3><span >Delete local DB {{vm.stakeDB}}</span>
            <i class="glyphicon glyphicon-trash"></i>
            </h3>
        </a>
        <a ng-click="vm.createReport('countries', vm.countryCode, vm.sortSelect, 'all', 'admin')">
            <h3><span> CSV All countries</span>
            <i class="glyphicon glyphicon-share"></i>
            </h3>
        </a>
        <a ng-click="vm.createReport('country', vm.countryCode, vm.sortSelect, 'all', 'admin')">
          <h3><span> CSV for {{vm.selectedCountry}}</span>
            <i class="glyphicon glyphicon-share"></i>
          </h3>
        </a>
        <a ng-click="vm.createReport('stake', vm.countryCode, vm.sortSelect, 'all', 'admin')">
          <h3><span> CSV for {{vm.selectedStake}} </span>
            <i class="glyphicon glyphicon-share"></i>
          </h3>
        </a>
      <a ng-click="vm.createReport('countries', vm.countryCode, vm.sortSelect, 'sup', 'admin')">
        <h3><span> Supplement reports all countries </span>
          <i class="glyphicon glyphicon-share"></i>
        </h3>
      </a>
      <a ng-click="vm.createReport('country', vm.countryCode, vm.sortSelect, 'sup', 'admin')">
        <h3><span> Supplement report for {{vm.selectedCountry}}</span>
          <i class="glyphicon glyphicon-share"></i>
        </h3>
      </a>
      <a ng-click="vm.createReport('stake', vm.countryCode, vm.sortSelect, 'sup', 'admin')">
        <h3><span> Supplement report for {{vm.selectedStake}} </span>
          <i class="glyphicon glyphicon-share"></i>
        </h3>
      </a>
      <div ng-if="vm.showProgress">
        <uib-progressbar max="max" value="dynamic"><span style="color:white; white-space:nowrap;">{{vm.currentStakeCount}} / {{vm.stakeCount}}</span></uib-progressbar>
      </div>
        <a ng-click="vm.updateViews(vm.selectedStakeDB)">
          <h3><span> Update Views {{vm.selectedStake}} </span>
            <i class="glyphicon glyphicon-share"></i>
          </h3>
        </a>
        <a ng-click="vm.updateStakeChildStatus(vm.stakeDB, vm.selectedCountryCode, 'stake', 'updateStatus' )">
          <h3><span> Update Zscore Status {{vm.selectedStake}} </span>
            <i class="glyphicon glyphicon-share"></i>
          </h3>
        </a>
    </div>
    <h3>
        <div ng-if="vm.reportReady">
            <a target="_self" ng-href={{vm.reportToDownload}} download={{vm.reportToDownload}}>{{'DOWNLOAD_MSG' |
                translate:vm.reportFileName}} </a>
            <i class="glyphicon glyphicon-download-alt"></i>
        </div>
    </h3>
    <h3>
        <div ng-if="!vm.reportReady">
            <!--<select id="filtersSelect" ng-model="vm.filterSelect">-->
                <!--<option value="">{{'CSV_FILTER' | translate}}</option>-->
                <!--<option value="all">{{'ALL_CHILDREN' | translate}}</option>-->
                <!--&lt;!&ndash;<option value="zscore">{{'ZSCORE_UNDER_2' | translate}}</option>&ndash;&gt;-->
                <!--<option value="pregnant">{{'SCREEN_PREGNANT_WOMEN' | translate}}</option>-->
                <!--<option value="nursing">{{'SCREEN_NURSING_MOTHERS' | translate}}</option>-->
            <!--</select><br>-->
            <select id="sortSelect" ng-model="vm.sortSelect">
                <option value="">{{'SORT_FIELD' | translate}}</option>
                <option value="ward">{{'WARD' | translate}}</option>
                <option value="screenId">{{'SCREENING_DATE' | translate}}</option>
                <option value="firstName" selected="selected">{{'FIRST_NAME' | translate}}</option>
                <option value="lastName">{{'LAST_NAME' | translate}}</option>
                <option value="memberStatus">{{'LDS_MEMBER' | translate}}</option>
            </select><br>
          <!--<br><br>-->
            <a ng-click="vm.createReport('stake', vm.countryCode, vm.sortSelect, 'sup')">
                <span>{{'GENERATE_SUPPLEMENT_REPORT' | translate}} </span>
                <i class="glyphicon glyphicon-share"></i>
            </a><br><br>
          <a ng-click="vm.createReport('women', vm.countryCode, vm.sortSelect, '')">
            <span>{{'GENERATE_WOMEN_REPORT' | translate}} </span>
            <i class="glyphicon glyphicon-share"></i>
          </a>
        </div>
    </h3>
    <h5>{{'SYNC_MESSAGE' | translate}}</h5>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-sync" spinner-theme="bigBlue"></span>
</section>
