<section>
    <div class="page-header" style="margin-top: 6em">
        <h3>
            <span><a ui-sref="children.list({stakeDB: vm.selectedDB, stakeName:vm.selectedStake, searchFilter: '', colorFilter: '', screenType: 'children'})">{{vm.selectedStake}} <i class="glyphicon glyphicon-list"></i></a></span>
        </h3>
        <h3>
            <a ui-sref="children.create({dbName: vm.selectedDB})">{{'ADD_NEW_CHILD' | translate}} <i class="glyphicon glyphicon-plus"></i></a>
        </h3>
        <h3>
            <span><a ui-sref="children.newsurvey({childId:vm.child._id})">{{'ADD_SCREENING' | translate}} <i class="glyphicon glyphicon-plus"></i></a></span>
        </h3>
      <h1>
        {{vm.child.firstName}} {{vm.child.lastName}}
        <span><a ui-sref="children.edit({childId: vm.child._id,surveyId:''})">   <i class="glyphicon glyphicon-edit"></i></a></span>
      </h1>
      {{'BIRTHDATE' | translate}}
      <span ng-bind="vm.child.birthDate | date:'mediumDate'"></span>
      <!--Current Supplement <span ng-bind="vm.supInfo"></span>-->
    </div>
    <small ng-if="vm.surveys.length > 0">
      <!--<h4>{{'ACTIONS' | translate}}:-->
        <!--<a ng-repeat="action in vm.actions" >-->
          <!--<li>-->
            <!--{{action | translate}}-->
          <!--</li>-->
        <!--</a>-->
      <!--</h4>-->
      <h4 >
        <div style="height:10px;"></div>
        <div class="container">
          <div class="row">
            <div>
              <nvd3 options="vm.optionsHeight" data="vm.dataHeight" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true, deepWatchData: true}" on-ready="vm.callback"></nvd3>
            </div>
            <div style="height:20px;"></div>
            <div>
              <nvd3 options="vm.optionsWeight" data="vm.dataWeight" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true, deepWatchData: true}" on-ready="vm.callback"></nvd3>
            </div>
            <div style="height:20px;"></div>
            <div>
              <nvd3 options="vm.optionsWeightPerHeight" data="vm.dataWeightPerHeight" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true, deepWatchData: true}" on-ready="vm.callback"></nvd3>
            </div>
            <div>
              <nvd3 options="vm.optionsMUAC" data="vm.dataMUAC" class="with-3d-shadow with-transitions" config="{refreshDataOnly: true, deepWatchData: true}" on-ready="vm.callback"></nvd3>
            </div>
            <div style="height:20px;"></div>
          </div>
        </div>
      </h4>
        <a ng-repeat="survey in vm.surveys"
           ui-sref="children.editsurvey({ surveyId:survey._id, childId:vm.child._id})" class="list-group-item clearfix" ng-class="whiteBackground">  
           <!-- survey.colorStatus  -->
            <small class="list-group-item-text ZscoreListContainer ">
                <h4>{{'AGE' | translate}} <span ng-bind="survey.monthAge "></span>, 
                    <span ng-hide="survey.height == 0">
                      {{'HEIGHT' | translate}} <span ng-bind="survey.height | number:2 "></span>, 
                      {{'WEIGHT' | translate}} <span ng-bind="survey.weight | number:2 "></span>
                    </span>
                </h4>
                <h4 ng-hide="survey.height == 0">{{'Z_SCORES' | translate}}:
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.haStatus ]">
                        {{'H_A' | translate}}: <span   ng-bind="survey.zScore.ha | number:2"></span>
                    </li>
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.waStatus ]">
                        {{'W_A' | translate}}:  <span  ng-bind="survey.zScore.wa | number:2"></span>
                    </li>
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.wlStatus ]">
                        {{'W_H' | translate}}:  <span  ng-bind="survey.zScore.wl | number:2"></span>
                    </li>
                </h4>
                <h4 ng-hide="survey.muac === null" > 
                  {{'MUAC: '}} 
                  <li ng-show="survey.muac > 12.5" class="greenMUAC">
                    <span ng-bind="survey.muac "></span>
                  </li>
                  <li ng-show="survey.muac <= 12.5 && survey.muac >= 11.5" class="yellowMUAC">
                    <span ng-bind="survey.muac "></span>
                  </li>
                  <li ng-show="survey.muac >= 5 && survey.muac < 11.5" class="redMUAC">
                    <span ng-bind="survey.muac "></span>
                  </li>
                </h4>
                <h6>
                  {{'FAM_HEALTH_PLAN' | translate}}: <span><input type="checkbox" onclick="false" ng-model="survey.familyHealthPlan"/></span>
                </h6>
                <h6>
                    {{'FOL_FAM_HEALTH_PLAN' | translate}}: <span><input type="checkbox" onclick="false" ng-model="survey.followFamilyHealthPlan"></span>
                </h6>
                <h6>
                  {{'HAS_VISITED_DOCTOR' | translate}}: <span><input type="checkbox" onclick="false" ng-model="survey.visitedDoctor"></span>
                </h6>

                {{'SCREENING_DATE' | translate}}
                <span ng-bind="survey.surveyDate | date:'mediumDate'"></span>
            </small>
        </a>
    </small>
    <h5>
        <span><a ui-sref="children.remove({childId:vm.child._id})">{{'REMOVE_CHILD_RECORD' | translate}} <i class="glyphicon glyphicon-trash"></i></a></span>
    </h5>
</section>

<!-- {greenMUAC: 'greenMUAC', yellowMUAC: 'yellowMUAC', redMUAC: 'redMUAC'} -->