<section>
    <div class="page-header">
        <div class='btn-toolbar pull-right'>
            <div class="btn-group">
                <!--<a class="btn btn-primary" ui-sref="children.create" ng-if="vm.userHasUserRole">-->
                    <!--New Child-->
                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                <!--</a>-->
                <a class="btn btn-primary" ui-sref="children.newsurvey({childId:vm.child._id})">

                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="btn btn-primary" ui-sref="children.edit({childId: vm.child._id,surveyId:''})">

                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="vm.remove(vm.child)" ng-if="vm.userHasAdminRole">

                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <h2 style="margin-top: 2em"><span ng-bind="vm.child.firstName"></span>
            <span ng-bind="vm.child.lastName"></span></h2>Birth Date:
        <span ng-bind="vm.child.birthDate | date:'mediumDate'"></span>
    </div>
    <small>
        <a ng-repeat="survey in vm.surveys"
           ui-sref="children.editsurvey({ surveyId:survey._id, childId:vm.child._id})" class="list-group-item clearfix">
            <small class="list-group-item-text ZscoreListContainer">
                <h4>Survey date: <span ng-bind="survey.surveyDate | date:'mediumDate'"></span>
                    , Height
                    <span ng-bind="survey.height | number:2 "></span>, Weight
                    <span ng-bind="survey.weight | number:2 "></span></h4>
                <h4>Z Scores:
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.haStatus ]">
                        height/age: <span   ng-bind="survey.zScore.ha | number:2"></span>
                    </li>
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.waStatus ]">
                        weight/age:  <span  ng-bind="survey.zScore.wa | number:2"></span>
                    </li>
                    <li ng-class="{normalZscore: 'normalZscore', dangerZscore: 'dangerZscore',
                    marginalZscore: 'marginalZscore', redZoneZscore: 'redZoneZscore'}[ survey.zScore.wlStatus ]">
                        weight/height:  <span  ng-bind="survey.zScore.wl | number:2"></span>
                    </li>
                    <!--<span ng-bind="survey.zScore.zscoreString"></span>-->
                </h4>
                Screening done by
                <span ng-bind="vm.child.interviewer"></span>
            </small>
        </a>
        </div>
    </small>
</section>
