<div class="page-header">
  <h1>Forbidden</h1>
</div>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You are not authorized for this operation, <a ui-sref="authentication.signin">Please Sign in</a> or <a ui-sref="authentication.signup">Sign up</a></h3>
  <h4>If you are signed in, you probably don't have sync rights, contact kjorgens@yahoo.com or another admin to get sync rights</h4>
</div>
