<div class="infoModalContainer">
    <div class="modal-padding" ng-click="dismiss()">
        <div class="modal-background" >
            <h4>
                <div class="modal-header">
                    <div class="modal-title invalidFields">{{childName}} {{title | translate}}
                    </div>
                </div>
            </h4>
            <div class="modal-body invalidFields">
                <p>{{desc | translate}}</p>
            </div>
            <div class="modal-footer">
                <div class="anchor btn btn-primary" ng-click="newChild()">{{'CONTINUE_ADDING' | translate}}</div>
                <div class="anchor btn btn-primary" ng-click="existingChild()">{{'ADD_SCREENING' | translate}}</div>
            </div>
        </div>
    </div>
</div>